.body{
    margin: 0 10px;
    justify-content: center;
    align-items: center;
}

:root{
    --color1: #8EACCD;
    --color2: #D2E0FB;
    --color3: #D7E5CA;
    --color4: #F9F3CC;
    --color5: #f7d5d9;
}

.navbar{
    border-bottom: 5px solid var(--color4);
    background-color: whitesmoke;
}

.navbar-brand{
    font-family: 'Concert One';
}

.navbar-brand span{
    color: var(--color1);
}

.nav-item{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
}

.nav-item:hover{
    background-color: var(--color5);
    border-radius: 20px;
}

.datetime{
    margin: auto;
    text-align: center;
    font-family: 'Concert One';
    color: var(--color1);
    background-color: var(--color4);
    width: 500px;
    border: 3px solid var(--color2);
    border-radius: 10px;
    transition: 0.5s;
    transition-property: background, box-shadow;
}

.datetime:hover{
    background: var(--color3);
    box-shadow: 0 0 30px;
}

.date{
    font-size: 30px;
    font-weight: 300;
}

.time{
    font-size: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight: 300;
    text-align: center;
}

.time span:last-child{
    background-color: #e6dfb2;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}

.home{
    background-color: var(--color2);
    background: linear-gradient(0deg, white 3%, var(--color2) 25%);
}

.home h1{
    padding-top: 65px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    color: var(--color1);
}

.home p{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'Concert One';
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 3px rgba(1,1,3, 0.5);
}

.home p span{
    font-family: 'Caveat';
    font-weight: 900;
}

.dante{
    background-color: var(--color3);
    background: linear-gradient(to bottom, white 3%, var(--color3) 25%);
}

.dante h2{
    color: var(--color4);
    padding-top: 90px;
    font-family: 'Poppins';
    font-weight: 900;
    text-shadow: 1px 1px 3px rgba(1,1,3, 0.5);
}

.dante h3{
    font-family: 'Caveat';
    font-size: 30px;
    font-weight: 900px;
    color: var(--color1);
}

.dante p{
    padding-top: 10px;
    text-align: justify;
    font-family: 'Concert One';
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 3px rgba(1,1,3, 0.5);
    background: linear-gradient(0deg, white 3%, var(--color3) 25%);
    padding-bottom: 60px;
}

.a{
    background-color: var(--color4);
    border-radius: 30px;
}

.affh-iyh{
    font-family: 'Caveat';
    font-size: 30px;
    font-weight: 900px;
}

.bocil{
    background-color: var(--color1);
    background: linear-gradient(to bottom, white 3%, var(--color1) 25%);
}

.bocil h2{
    padding-top: 60px;
    font-family: 'Poppins';
    font-weight: 900;
    color: var(--color5);
    text-shadow: 1px 1px 3px rgba(1,1,3, 0.5);
}

.bocil h3{
    font-family: 'Caveat';
    font-size: 30px;
    font-weight: 900px;
    color: var(--color2);
}

.bocil p{
    padding-bottom: 60px;
    text-align: justify;
    font-family: 'Concert One';
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 3px rgba(1,1,3, 0.5);
    background: linear-gradient(0deg, white 3%, var(--color1) 25%);
    padding-bottom: 30px;
}

.bocil span{
    color: var(--color2);
}
.aboutus{
    background-color: var(--color5);
    background: linear-gradient(to bottom, white 3%, var(--color5) 25%);
}

.aboutus h2{
    padding-top: 60px;
    font-family: 'Josefin Sans';
    font-weight: 900;
    color: var(--color3);
    text-shadow: 1px 1px 3px rgba(1,1,3, 0.5);
}

.aboutus h2 span{
    font-family: 'Concert One';
}

.aboutus h3{
    font-family: 'Caveat';
    color: var(--color4);
    font-weight: 900;
    text-shadow: 1px 1px 3px rgba(1,1,3, 0.5);
}

.cerita{
    font-family: 'Concert One';
    text-align: justify;
    font-size: 25px;
    color: white;
    text-shadow: 1px 1px 3px rgba(1,1,3, 0.5);
}

.cerita span{
    color: var(--color1);
    text-shadow: none;
}

.b{
    font-family: 'Caveat';
    font-weight: 900;
    color: var(--color1);
    text-shadow: none;
}

.card-yt{
    background: linear-gradient(0deg, white 3%, var(--color5) 25%);
    padding-bottom: 60px;
}

.card-title{
    font-family: 'Concert One';
}

.card-body a{
    font-family: 'Josefin Sans';
}

.d-block{
    max-width: 500px;
    border-radius: 30px;
}

.memory{
    background-color: var(--color4);
    background: linear-gradient(to bottom, white 3%, var(--color4) 25%);
}

.memory h2{
    text-align: center;
    padding-top: 150px;
    font-family: 'Josefin Sans';
    font-weight: 900;
    color: var(--color1);
}

.carousel{
    padding-bottom: 10px;
}

.caption-title{
    font-size: 30px;
    font-family: 'Caveat';
    font-weight: 900;
    background-color: var(--color4);
    max-width: 500px;
    margin: auto;
}

.caption-text{
    font-size: 25px;
    font-family: 'Caveat';
    font-weight: 900;
    background-color: var(--color4);
    max-width: 500px;
    margin: auto;
}

footer{
    background-color: whitesmoke;
    color: var(--color2);
    font-family: 'Josefin Sans';
    text-align: center;
    padding: 16px 0;
}

footer span{
    color: var(--color1);
    font-weight: 700;
}

footer p{
    margin-top: 10px;
    font-size: 11px;
}

footer .links a{
    color: var(--color1);
    padding: 1px 2px;
    text-decoration: none;
}

footer .links a:hover{
    background-color: var(--color3);
    border-radius: 20px;
    text-decoration: none;
}
